:root {
    --main-color: #21a7d0;
}


/*=====================Sidebar===========================*/

.sidebar {
    margin-top: 0;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: rgb(118, 155, 197);
    transition: all ease-in 0.3s;
}

.sidebar li {
    list-style: none;
}

.sidebar .heading {
    color: #fff;
    font-size: 24px;
    padding: 8px;
    line-height: 54px;
    text-align: center;
    height: 70px;
    background-color: var(--main-color);
    user-select: none;
}

.sidebar ul {
    padding-left: 0px;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    padding-left: 40px;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333; */
    transition: all ease-in-out 0.3s;
}

.sidebar ul a:hover {
    padding-left: 50px;
}

.sidebar ul a.active {
    border-radius: 20px;
    border-color: rgb(101, 122, 146);
    background-color: rgb(101, 122, 146);
}

.sidebar ul a i {
    margin-right: 16px;
}

.sidebar-toggle-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 100%);
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.sidebar-toggle-open {
    font-size: 24px;
    cursor: pointer;
    color: #444;
}


/*======================My Course section===================*/

.my-course h3 {
    font-size: 24px;
}

.course-item img {
    border-radius: 8px;
    box-shadow: -2px -2px 16px #ddd;
}

.course-item img:hover {
    box-shadow: -2px -2px 8px #aaa;
}

.course-name {
    font-size: 14px;
    margin: 0;
    color: var(--main-color);
}

.course-lecturer {
    font-size: 12px;
    color: #444;
}

.course-item .course-icon {
    font-size: 18px;
}

.course-video .course-icon {
    color: tomato;
}

.course-live .course-icon {
    color: mediumaquamarine;
}


/*=====================My Class Section==================*/

.class-item {
    background-color: rgb(183, 244, 255);
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    margin-bottom: 16px;
}

.class-item h6 {
    color: rgb(16, 109, 214);
}

.class-item span {
    font-size: 14px;
    color: rgb(19, 158, 135);
}

.class-item small {
    font-style: oblique;
    color: #444;
}


/*======================Profile section==================*/

.profile .user-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150p;
    border: 1px solid snow;
    box-shadow: -2px 2px 24px lightgray;
    margin-bottom: 8px;
}

.profile .edit-avatar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile .edit-avatar i {
    font-size: 18px;
    color: snow;
}

.profile .user-name {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
}

.profile h3 {
    font-size: 24px;
}

.profile label {
    padding-left: 4px;
}

.profile .btn-primary {
    font-weight: 550;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.profile .btn-success {
    font-weight: 550;
    background-color: #269898;
    border-color: #269898;
}